* {
  margin: 0;
  padding: 0;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  width: calc(64px * 8);
  height: calc(64px * 8);
  display: flex;
  flex-wrap: wrap;
}

.cell {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color .1s, box-shadow .1s;
}

.cell.selected {
  background-color: #b63636;
  box-shadow: 0 0 10px #b63636;
}

.cell img {
  width: 40px;
  height: 40px;
  position: relative;
}

.black {
  background-color: #5f4e4e;
}

.white {
  background-color: #b9ab8c;
}